@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&family=Pridi:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, "Noto Sans Lao", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-thin::-webkit-scrollbar {
  width: 2px;
}
/* .scroll-hide::-webkit-scrollbar {
  width: ;
} */

.scroll-thin::-webkit-scrollbar-thumb {
  background-color: rgb(218, 218, 218);
  border-radius: 6px;
}
